VITE_ENV='DEV'
# VITE_ENV='PROD'
VITE_URL="http://localhost:5173" 

# Data Set Identification - should match backend DATA_SET_ID
VITE_DATA_SET_ID='DEV'
VITE_DATA_SET_NAME='Development Server'

VITE_API_URL="http://localhost:8000/"
VITE_AUTH_API_URL="http://localhost:8000/"
VITE_API_URL_PROD="http://85.31.234.194:8000/"

VITE_NOTION_API_URL="https://api.notion.com/v1/"